<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<?xml version="1.0" encoding="UTF-8"?>
 <suite name="AC_Regression_Suite" preserve-order="true" parallel="false">
   <test name="regression">
    <classes>
     <class name="org.acdigital.achdd.ac_reservation.ui.ac_ui_hdd_poc.selenium.TestGoogleHomeGroupRun"/>
     <class name="org.acdigital.achdd.ac_reservation.ui.ac_ui_hdd_poc.selenium.TestGroupRun"/>
     <class name="org.acdigital.achdd.ac_reservation.ui.ac_ui_hdd_poc.selenium.TestHomePage"/>
   </classes>
 </test> <!-- Test -->
</suite> <!-- Suite -->